{% include 'overall_header.html' %}
{% INCLUDECSS '@mot_userreminder/admin_mot_userreminder.css' %}

<h1>{{ lang('ACP_USERREMINDER_SLEEPER') }}</h1>
<p>{{ lang('ACP_USERREMINDER_SLEEPER_EXPLAIN') }}</p>

<form id="acp_userreminder_registered_only" method="post" action="{{ U_ACTION }}">
	{% if pagination %}
	<div class="pagination top-pagination">
		{% include 'pagination.html' %}
	</div>
	{% endif %}

{% if REMIND_SLEEPER %}
	<table class="table1 zebra-table fixed-width-table">
		<thead>
			<tr>
				<th rowspan="2" style="width: 30%;">{{ lang('USERNAME') }}</th>
				<th colspan="2" style="text-align: center;">{{ lang('JOINED') }}</th>
				<th colspan="2" style="text-align: center;">{{ lang('ACP_USERREMINDER_REMINDER') }}</th>
				<th rowspan="2" style="width: 70px; text-align: center;">{{ lang('MARK_REMIND') }}</th>
				<th rowspan="2" style="width: 70px; text-align: center;">{{ lang('MARK_DELETE') }}</th>
			</tr>
			<tr>
				<th style="text-align: center;">{{ lang('AT_DATE') }}</th>
				<th style="text-align: center;">{{ lang('DAYS_AGO') }}</th>
				<th style="text-align: center;">{{ lang('AT_DATE') }}</th>
				<th style="text-align: center;">{{ lang('DAYS_AGO') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for registered_only in registered_only %}
			<tr>
				<td><a href="{{ registered_only.SERVER_CONFIG }}" target="_blank" {% if registered_only.USER_COLOUR %}style="color: #{{ registered_only.USER_COLOUR }};" class="username-coloured"{% endif %}>{{ registered_only.USERNAME }}</a></td>
				<td style="text-align: center;">{{ registered_only.JOINED }}</td>
				<td style="text-align: center;">{{ registered_only.OFFLINE_DAYS }}</td>
				<td style="text-align: center;">{{ registered_only.REMINDED_DATE }}</td>
				<td style="text-align: center;">{{ registered_only.REMINDED_AGO }}</td>
				<td style="text-align: center;">{% if registered_only.REMINDER_ENABLED %}<input type="checkbox" class="radio" name="mark_remind[]" value="{{ registered_only.USER_ID }}" />{% endif %}</td>
				<td style="text-align: center;">{% if registered_only.DEL_ENABLED %}<input type="checkbox" class="radio" name="mark_delete[]" value="{{ registered_only.USER_ID }}" />{% endif %}</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4" style="text-align: center;">{{ lang('ACP_USERREMINDER_NO_ENTRIES') }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if pagination %}
		<div class="pagination">
			{% include 'pagination.html' %}
		</div>
	{% endif %}

	<fieldset class="display-options">
		{{ lang('SORT_BY') ~ lang('COLON') }}
		{% if ENABLE_SORT_REMIND %}
		<select name="sort_key">
			<option value="user_regdate" {% if SORT_KEY == 'user_regdate' %} selected {% endif %}>{{ lang('ACP_USERREMINDER_KEY_RD') }}</option>
			<option value="mot_sleeper_remind" {% if SORT_KEY == 'mot_sleeper_remind' %} selected {% endif %}>{{ lang('ACP_USERREMINDER_KEY_RE') }}</option>
		</select>&nbsp;
		{% endif %}
		<select name="sort_dir">
			<option value="DESC" {% if SORT_DIR == 'DESC' %} selected {% endif %}>{{ lang('ACP_USERREMINDER_SORT_DESC') }}</option>
			<option value="ASC" {% if SORT_DIR == 'ASC' %} selected {% endif %}>{{ lang('ACP_USERREMINDER_SORT_ASC') }}</option>
		</select>
		<input class="button2" type="submit" value="{{ lang('GO') }}" name="sort" />
	</fieldset>
	<hr />

	{% if ENABLE_REMIND %}
	<fieldset class="quick">
		<input class="button2" type="submit" name="rem_marked" value="{{ lang('REMIND_MARKED') }}" /><br>
		<p class="small"><a href="#" onclick="marklist('acp_userreminder_registered_only', 'mark_remind', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('acp_userreminder_registered_only', 'mark_remind', false); return false;">{{ lang('UNMARK_ALL') }}</a></p>
	</fieldset>
	{% endif %}

	{% if ENABLE_REMIND and ENABLE_DELETE %}		{# Let's show the horizontal ruler only if both sets of buttons are shown #}
		<hr />
	{% endif %}

	{% if ENABLE_DELETE %}
	<fieldset class="quick">
		<input class="button2" type="submit" name="delmarked" value="{{ lang('DELETE_MARKED') }}" /><br>
		<p class="small"><a href="#" onclick="marklist('acp_userreminder_registered_only', 'mark_delete', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('acp_userreminder_registered_only', 'mark_delete', false); return false;">{{ lang('UNMARK_ALL') }}</a></p>
	</fieldset>
	{% endif %}
{% else %}
	<table class="table1 zebra-table fixed-width-table">
		<thead>
			<tr>
				<th style="width: 30%;">{{ lang('USERNAME') }}</th>
				<th style="text-align: center;">{{ lang('JOINED') }}</th>
				<th style="text-align: center;">{{ lang('DAYS_AGO') }}</th>
				<th style="width: 80px; text-align: center;">{{ lang('MARK') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for registered_only in registered_only %}
			<tr>
				<td><a href="{{ registered_only.SERVER_CONFIG }}" target="_blank" {% if registered_only.USER_COLOUR %}style="color: #{{ registered_only.USER_COLOUR }};" class="username-coloured"{% endif %}>{{ registered_only.USERNAME }}</a></td>
				<td style="text-align: center;">{{ registered_only.JOINED }}</td>
				<td style="text-align: center;">{{ registered_only.OFFLINE_DAYS }}</td>
				<td style="text-align: center;"><input type="checkbox" class="radio" name="mark_delete[]" value="{{ registered_only.USER_ID }}" /></td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4" style="text-align: center;">{{ lang('ACP_USERREMINDER_NO_ENTRIES') }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if pagination %}
		<div class="pagination">
			{% include 'pagination.html' %}
		</div>
	{% endif %}

	<fieldset class="display-options">
		{{ lang('SORT_BY') ~ lang('COLON') }}
		<select name="sort_dir">
			<option value="DESC" {% if SORT_DIR == 'DESC' %} selected {% endif %}>{{ lang('ACP_USERREMINDER_SORT_DESC') }}</option>
			<option value="ASC" {% if SORT_DIR == 'ASC' %} selected {% endif %}>{{ lang('ACP_USERREMINDER_SORT_ASC') }}</option>
		</select>
		<input class="button2" type="submit" value="{{ lang('GO') }}" name="sort" />
	</fieldset>
	<hr />

	<fieldset class="quick">
		<input class="button2" type="submit" name="delmarked" value="{{ lang('DELETE_MARKED') }}" /><br>
		<p class="small"><a href="#" onclick="marklist('acp_userreminder_registered_only', 'mark_delete', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('acp_userreminder_registered_only', 'mark', false); return false;">{{ lang('UNMARK_ALL') }}</a></p>
	</fieldset>
{% endif %}

	{% if SHOW_EXPERT_MODE %}
		<hr>
		<fieldset class="quick">
			<div class="mot_ur_expert_div">
				{{ lang('ACP_USERREMINDER_REMIND_ALL_TEXT') }} <input class="button2" type="submit" name="remind_all" value="{{ lang('REMIND_ALL') }}" /><br>
			</div>
			<div class="mot_ur_expert_div">
				{{ lang('ACP_USERREMINDER_DELETE_ALL_TEXT') }} <input class="button2" type="submit" name="delete_all" value="{{ lang('DELETE_ALL') }}" />
			</div>
		</fieldset>
	{% endif %}
	{{ S_FORM_TOKEN }}
	<p id="centered_text">{{ USERREMINDER_VERSION }}</p>

</form>

{% include 'overall_footer.html' %}
